/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* Use a simple light background */
  background-color: #f2f2f2;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}